<section class="image-gradient-dynamic">
  <%= image_tag('mashallah_japan.jpg') %>
  <header class="copy">
    <h1>I'm Mashallah Behbehani.</h1>
    <h2>I make websites and webapps.</h2>
    <h3>Here's what I've been up to lately.</h3>
  </header>
  <div class="overlay"></div>
</section>
<section class="intro">
    <header>
      <h1>ISS Flyby</h1>
      <h2>Notifications to your Google Glass as the ISS approaches.</h2>
      <h3>Ruby on Rails, Google Glass Mirror API.</h3>
      <a href="www.issflyby.com">www.issflyby.com</a>
    </header>
	<div class="swiper-container issflyby">
	  <div class="swiper-wrapper">
	    <div class="swiper-slide swiper-slide-visible swiper-slide-active">
          <div class="description"><p>Get notifications to your Google Glass as the ISS approaches.</p></div>
          <div class="glasscard">
		    	<%= image_tag("iss.jpg") %>
			    <p>International Space Station flyby coming up  at 05:33 AM CST!</p>
			    <footer><span class="source">ISS Flyby</span><span class="time">3 mins ago</span></footer>
		    </div>
	    </div>
	    	<div class="swiper-slide swiper-slide-visible">
					<div class="description"><p>See who's on the ISS at that moment. </p></div>
		    	<div class="glasscard">
		    		<%= image_tag("ryazanskiy.jpg") %>
			    	<p>Sergey Ryazanskiy is on board.</p>
			    <footer><span class="source">ISS Flyby</span><span class="time">3 mins ago</span></footer>
		    	</div>
	    	</div>
	    	<div class="swiper-slide">
		    		<div class="description"><p>Flybys are determined by your Google Glass' position.</p></div>
		    	<div class="glasscard">
		    		<%= image_tag("kotov.jpg") %>
			    	<p>Oleg Kotov is on board.</p>
			    <footer><span class="source">ISS Flyby</span><span class="time">3 mins ago</span></footer>
		    	</div>
	    	</div>
	    	<div class="swiper-slide">
		    		<div class="description"><p> Sunrise, sunset and even clouds are factored in. </p></div>
		    	<div class="glasscard">
		    		<%= image_tag("hopkins.jpg") %>
			    	<p>Michael Hopkins is on board.</p>
			    <footer><span class="source">ISS Flyby</span><span class="time">3 mins ago</span></footer>
		    	</div>
	    	</div>
	    	<div class="swiper-slide">
		    		<div class="description"><p>You'll only receive flybys worth running outside for.</p></div>
		    	<div class="glasscard">
		    		<%= image_tag("wakata.jpg") %>
			    	<p>Koichi Wakata is on board.</p>
			    <footer><span class="source">ISS Flyby</span><span class="time">3 mins ago</span></footer>
		    	</div>
	    	</div>
	    	<div class="swiper-slide">
		    		<div class="description"><p>20 mins later the cards disappear, leaving your timeline clean.</p></div>
		    	<div class="glasscard">
		    		<%= image_tag("mastracchio.jpg") %>
			    	<p>Richard A. Mastracchio is on board.</p>
			    <footer><span class="source">ISS Flyby</span><span class="time">3 mins ago</span></footer>
		    	</div>
	    	</div>
	  </div>
	  <div class="pagination"></div>
	</div>
</section>
<section id="videobg" class="tangelo intro">
  <header>
    <h1>Tangelo</h1>
    <h2>Track projects and skillsets across an organization.</h2>
    <h3>AngularJS + NodeJS. Internal application for Warren Douglas.</h3>
  </header>
  <%= image_tag('tangelo.png', class: 'fullwidth') %>
</section>
<section class="personaloptics intro">
	<header>
		<h1>Personal Optics</h1>
		<h2>Appointment application and brand site.</h2>
        <h3>Ruby on Rails, AngularJS, Twilio API integration with automated reporting. Client work for Warren Douglas.</h3>
        <a href="www.personaloptics.com">www.personaloptics.com</a>
	</header>
    <div class="imagewrap">
	<%= image_tag("personaloptics_side_crop.png") %>
    </div>
</section>
<section class="contact fullwidth">
      <p>I'm currently exploring reactive programming using Scala, Akka and Play.</p>
      <p>I'm based in the Dallas/Fort Worth area. Get in contact:</p>
    <div class="link">
        <%= mail_to('mkbehbehani@gmail.com') %>
    </div>
    <div class="link">
        <%= image_tag('twitter.svg', class: 'icon') %>
        <%= link_to '@mkbehbehani','https://twitter.com/mkbehbehani' %>
    </div>
</section>