<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @project.tagline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>Launch date:</strong>
  <%= @project.launch_date %>
</p>

<p>
  <strong>Completion percentage:</strong>
  <%= @project.completion_percentage %>
</p>

<p>
  <strong>Technology:</strong>
  <%= @project.technology %>
</p>

<p>
  <strong>Collaborator:</strong>
  <%= @project.collaborator %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
